.sec-5 {
    margin-top: 50px;
}

.contain-5 {
    background: linear-gradient(279.93deg, #EBE2FB 59.34%, #FFFFFF 101.02%);
}

.contain-5-box {
    padding: 30px 0;
}

.contain-5-text {
    width: 100%;
    margin: auto;
    font-weight: 700;
    justify-items:center;
}

.contain-5-text h2 {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    flex-wrap: nowrap;
}

.contain-5-text p {
    color: #333;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
    max-width:580px;
    
    text-align: left;
}

.contain-5-text .award-title span {
    color: #4f149a;
    font-weight: 600;
    text-decoration: underline;
}

.contain-since {
    width: 100%;
    opacity: 0.5;
}

.contain-since span {
    color: #fff;
    text-align: center;
    font-size: clamp(54px, 10vw, 200px);
    font-style: normal;
    font-weight: 700;
    line-height: 131%;
}

.mt-5 {
    margin-top: 3rem;
}

.text-md-center {
    text-align: center;
}

.blur-image {
    overflow: visible;
    position: relative;
    width: 100%;
    margin: 40px 0;
}

.image-container {
    position: relative;
    width: 100%;
    text-align: center;
}

.bg-img {
    width: 100%;
    height: auto;
    filter: blur(5px);
    object-fit: cover;
}

.img-cropped {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Full width to coincide with bg-img */
    height: 100%;
    /* Full height to coincide with bg-img */
    object-position: center;
    /* Centers the image horizontally */
    clip-path: inset(0 35% 0 34%);
    /* Crops 40% from both left and right to show only the middle 20% */
}

@media (max-width:480px){
    .contain-5-text h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    flex-wrap: nowrap;
    text-align:left;
}
}