.text-center {
    margin-bottom: 35px;
    font-weight: 700;
}
.sec-3 {
    margin-bottom: 55px;
}
.caro-1 {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr .4fr 1fr;
    row-gap: 20px;
    grid-template-areas: "health health jewelery" "hospitality enterprise enterprise";
}
.health {
    grid-area: health;
}
.jewelery {
    grid-area: jewelery;
}
.travel {
    grid-area: hospitality;
}
.enterprise {
    grid-area: enterprise;
}
.caro-2 {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    gap: 20px;
}
.exp-box-head {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.caro-1 p, .caro-1 p a, .caro-2 p, .caro-2 p a {
    color: #fff;
    text-decoration: none;
}
.exp-box-point p img {
    width: 10px;
    height: 14px;
    margin-left: 10px;
    margin-bottom: 2px;
    display: inline-block !important;
}
.exp-box-point p {
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.exp-box-point {
    position: absolute;
    bottom: 30px;
    transition: all 3s ease 3s;
    line-height: 0px !important;
    display: none;
}
/* Base style for all image blocks */
.hover-box {
    background-size: cover;       /* Always fills container */
    background-position: center;  /* Keeps image centered */
    background-repeat: no-repeat; /* Avoids tiling */
    border-radius: 20px;
    height: 300px;
    padding: 30px;
    position: relative;
    transition: transform .8s ease, background-size .8s ease;
    background-blend-mode: overlay;
}

.health-box {
    background-image: url('/Images/section-3/health.png'), linear-gradient(181.2deg, rgba(0, 0, 0, 0.905) -18.48%, rgba(0, 0, 0, 0.889) -0.81%, rgba(0, 0, 0, 0.814) 40.29%, rgba(55, 74, 41, 0.422) 100%);
;
}
.health-box:hover {
    background-size: 108%;
    background-blend-mode: overlay;
    background-image: url('/Images/section-3/health.png'), linear-gradient(181.2deg, rgba(0, 0, 0, 0.905) -18.48%, rgba(0, 0, 0, 0.889) -0.81%, rgba(0, 0, 0, 0.814) 40.29%, rgba(23, 43, 23, 0.591) 100%);
}

.hover-box:hover .exp-box-point {
    display: flex !important;
    flex-direction: column;
    transition: all 3s ease 3s;
}
.jewelery-box {
    background-image: url('/Images/section-3/advanced.jpg'), linear-gradient(181.2deg, rgba(0, 0, 0, 0.905) -18.48%, rgba(0, 0, 0, 0.889) -0.81%, rgba(0, 0, 0, 0.814) 40.29%, rgba(55, 74, 41, 0.422) 100%);
}
.jewelery-box:hover {
    background-size: 108%;
    background-blend-mode: overlay;
    background-image: url('/Images/section-3/advanced.jpg'), linear-gradient(181.2deg, rgba(0, 0, 0, 0.905) -18.48%, rgba(0, 0, 0, 0.889) -0.81%, rgba(0, 0, 0, 0.814) 40.29%, rgba(23, 43, 23, 0.591) 100%);
}
.real-estate-box {
    background-image: url('/Images/section-4/realestate.png'), linear-gradient(181.2deg, rgba(0, 0, 0, 0.905) -18.48%, rgba(0, 0, 0, 0.889) -0.81%, rgba(0, 0, 0, 0.814) 40.29%, rgba(55, 74, 41, 0.422) 100%);
}
.real-estate-box:hover {
    background-size: 118%;
    background-blend-mode: overlay;
    background-image: url('/Images/section-4/realestate.png'), linear-gradient(181.2deg, rgba(0, 0, 0, 0.905) -18.48%, rgba(0, 0, 0, 0.889) -0.81%, rgba(0, 0, 0, 0.814) 40.29%, rgba(23, 43, 23, 0.591) 100%);
}
.e-commerce-box {
    background-image: url('/Images/section-4/ecommerce.png'), linear-gradient(181.2deg, rgba(0, 0, 0, 0.905) -18.48%, rgba(0, 0, 0, 0.889) -0.81%, rgba(0, 0, 0, 0.814) 40.29%, rgba(55, 74, 41, 0.422) 100%);
}
.e-commerce-box:hover {
    background-size: 108%;
    background-blend-mode: overlay;
    background-image: url('/Images/section-4/ecommerce.png'), linear-gradient(181.2deg, rgba(0, 0, 0, 0.905) -18.48%, rgba(0, 0, 0, 0.889) -0.81%, rgba(0, 0, 0, 0.814) 40.29%, rgba(23, 43, 23, 0.591) 100%);
}
.finance-box {
    background-image: url('/Images/section-4/finance.png'), linear-gradient(181.2deg, rgba(0, 0, 0, 0.905) -18.48%, rgba(0, 0, 0, 0.889) -0.81%, rgba(0, 0, 0, 0.814) 40.29%, rgba(55, 74, 41, 0.422) 100%);
}
.finance-box:hover {
    background-size: 130%;
    background-blend-mode: overlay;
    background-image: url('/Images/section-4/finance.png'), linear-gradient(181.2deg, rgba(0, 0, 0, 0.905) -18.48%, rgba(0, 0, 0, 0.889) -0.81%, rgba(0, 0, 0, 0.814) 40.29%, rgba(23, 43, 23, 0.591) 100%);
}
.home-box {
    background-image: url('/Images/section-4/contractor.jpg'), linear-gradient(181.2deg, rgba(0, 0, 0, 0.905) -18.48%, rgba(0, 0, 0, 0.889) -0.81%, rgba(0, 0, 0, 0.814) 40.29%, rgba(55, 74, 41, 0.422) 100%);
}
.home-box:hover {
    background-size: 190%;
    background-blend-mode: overlay;
    background-image: url('/Images/section-4/contractor.jpg'), linear-gradient(181.2deg, rgba(0, 0, 0, 0.905) -18.48%, rgba(0, 0, 0, 0.889) -0.81%, rgba(0, 0, 0, 0.814) 40.29%, rgba(23, 43, 23, 0.591) 100%);
}
.travel-box {
    background-image: url('/Images/section-3/travel.png'), linear-gradient(181.2deg, rgba(0, 0, 0, 0.905) -18.48%, rgba(0, 0, 0, 0.889) -0.81%, rgba(0, 0, 0, 0.814) 40.29%, rgba(55, 74, 41, 0.422) 100%);
    
}
.travel-box:hover {
    background-size: 140%;
    background-blend-mode: overlay;
    background-image: url('/Images/section-3/travel.png'), linear-gradient(181.2deg, rgba(0, 0, 0, 0.905) -18.48%, rgba(0, 0, 0, 0.889) -0.81%, rgba(0, 0, 0, 0.814) 40.29%, rgba(23, 43, 23, 0.591) 100%);
}
.enterprise-box {
    background-image: url('/Images/section-3/Enterprise.png'), linear-gradient(181.2deg, rgba(0, 0, 0, 0.905) -18.48%, rgba(0, 0, 0, 0.889) -0.81%, rgba(0, 0, 0, 0.814) 40.29%, rgba(55, 74, 41, 0.422) 100%);
}
.enterprise-box:hover {
    background-size: 108%;
    background-blend-mode: overlay;
    background-image: url('/Images/section-3/Enterprise.png'), linear-gradient(181.2deg, rgba(0, 0, 0, 0.905) -18.48%, rgba(0, 0, 0, 0.889) -0.81%, rgba(0, 0, 0, 0.814) 40.29%, rgba(23, 43, 23, 0.591) 100%);
}
@media (max-width: 992px) {
    .work-container {
        display: flex;
        column-gap: 20px;
        overflow: scroll;
        scrollbar-width: none;
    }
    .caro-1 {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
    .caro-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        overflow: scroll;
        scrollbar-width: none;
        gap: 15px;
    }
    .hover-box {
        background-size: cover !important;
        border-radius: 10px;
        height: 350px;
    }
    .exp-box-point {
        bottom: 15px;
        display: flex !important;
        flex-direction: column;
    }
    .hover-box:hover {
        background-size: cover !important;
    }
    .exp-box-point p {
        position: relative;
        align-items: start;
        column-gap: 10px;
    }
    .exp-box-point p img {
        width: 7px !important;
        height: 12px !important;
        margin: 0 0 3px 10px !important;
    }
}
@media (max-width: 1180px) {
    .exp-box-head~p {
        display: none;
    }
    .hover-box {
        background-size: cover !important;
    }
    .hover-box:hover {
        background-size: cover !important;
        
    }
    .exp-box-point {
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .caro-1 p a, .caro-2 p a {
        font-size: 16px !important;
    }
    .caro-1 {
        grid-template-columns: 1fr .4fr 1fr;
        grid-template-rows: auto auto;
    }
    .hover-box {
        background-size: cover !important;
    }
    .hover-box:hover {
        background-size: cover !important;
    }
}
@media (min-width: 768px) {
    .exp-box-head {
        font-size: 18px;
    }
}
@media (min-width: 1025px) and (max-width: 1600px) {
    .exp-box-head {
        font-size: 22px;
        margin-bottom: 40px;
    }
}
@media (min-width: 1600px) {
    .hover-box {
        height: 100% !important;
    }
    .exp-box {
        height: 475px !important;
    }
    .caro-2 .exp-box {
        height: 580px !important;
    }
    .exp-box-head {
        font-size: 24px;
        margin-bottom: 40px;
    }
}
@media (min-width: 1200px) and (max-width: 1600px) {
    .hover-box {
        height: 100% !important;
    }
    .exp-box {
        height: 400px !important;
    }
    .caro-2 .exp-box {
        height: 450px !important;
    }
}
@media (min-width: 1180px) {
    .hover-box {
        height: 330px;
    }
}
/* Owl Carousel navigation */
.owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    display: none; /* Hide navigation on desktop */
}
@media (max-width: 999px) {
    .owl-carousel .owl-nav {
        display: none !important; /* Show navigation on mobile/tablet */
    }
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    position: absolute;
    font-size: 30px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
}
.owl-carousel .owl-nav .owl-prev {
    left: 10px;
}
.owl-carousel .owl-nav .owl-next {
    right: 10px;
}