:root {
  --color-primary: #4f149a;
  --color-primary-variant: #7746d6;
  --color-secondary: #52dfc2;
  --color-secondary-variant: #00b5a0;
  --color-light-primary: #ebe2fb;
}

.color-primary {
  color: var(--color-primary) !important;
}

.color-primary-variant {
  color: var(--color-primary-variant) !important;
}

.color-secondary {
  color: var(--color-secondary) !important;
}

.color-secondary-variant {
  color: var(--color-secondary-variant) !important;
}

.global-typograpgy h1,
.globle_style1 h1 {
  font-size: 66px !important;
  font-weight: 700;
  color: var(--color-primary);
  margin-bottom: 50px;
}

.global-typograpgy h2,
.globle_style1 h2 {
  font-size: 40px !important;
  font-weight: 700;
  color: #101010;
  margin-bottom: 50px;
}

.global-typograpgy h3,
.globle_style1 h3 {
  font-size: 32px !important;
  font-weight: 700 !important;
  color: var(--color-primary) !important;
  margin-bottom: 30px;
}

.global-typograpgy h4,
.globle_style1 h4 {
  font-size: 22px !important;
  font-weight: 700 !important;
  color: #101010 !important;
  margin-bottom: 30px;
}

.global-typograpgy .title,
.globle_style1 .title {
  font-size: 22px !important;
  color: #101010;
  font-weight: 700 !important;
  margin-bottom: 20px;
}

.global-typograpgy a,
.globle_style1 a {
  color: #4f149a;
}

.apply-job.apply-jobform .form-section .form-control,
.global-typograpgy a,
.global-typograpgy p,
.globle_style1,
.globle_style1 a,
.globle_style1 p {
  font-size: 18px !important;
}

.globle_style1 #career-main,
.globle_style1 .apply-job.bg-n-temp-career,
.globle_style1 .career-pg-bannr,
.globle_style1 .mb35 {
  margin-bottom: 35px !important;
}

.globle_style1 .mt35 {
  margin-top: 35px !important;
}

.global-typograpgy .get-intouch,
.globle_style1 .get-intouch,
.globle_style1 .my35 {
  margin: 35px 0 !important;
}

.global-typograpgy section,
.globle_style1 section {
  padding: 35px 0 !important;
}

.gbl-faq h2 {
  font-size: 40px;
  font-weight: 700;
  color: #0c0c0c;
  margin-bottom: 50px;
}

.gbl-faq h3 {
  font-size: 22px !important;
  font-weight: 700 !important;
  margin-bottom: 0;
  color: #000 !important;
}

p.heading-tip {
  font-size: 22px !important;
}

.title-1 {
  font-size: 32px;
  font-weight: 700;
  color: #101010;
}

.available-jobs td {
  font-size: 18px;
}

.gbl-btn-prim {
  background: #4f149a;
  color: #fff !important;
  text-decoration: none;
  font-size: 18px !important;
  font-weight: 500;
  border-radius: 10px;
  padding: 10px 0;
  width: 200px !important;
  text-align: center;
}

.gbl-btn-prim:hover {
  background: #7646d7;
}

h3.h3-variant {
  font-size: 22px !important;
  color: #101010 !important;
  font-weight: 700 !important;
  margin-bottom: 0 !important;
}

@media (min-width: 1025px) and (max-width: 1540px) {
  .global-typograpgy h1,
  .globle_style1 h1 {
    font-size: 46px !important;
    margin-bottom: 30px;
  }
  
  .global-typograpgy h2,
  .globle_style1 h2 {
    font-size: 30px !important;
    margin-bottom: 30px;
  }
  
  .global-typograpgy h3,
  .globle_style1 h3 {
    font-size: 24px !important;
    margin-bottom: 20px;
  }
  
  .global-typograpgy h4,
  .globle_style1 h4 {
    font-size: 18px !important;
    margin-bottom: 20px;
  }
  
  .apply-job.apply-jobform .form-section .form-control,
  .global-typograpgy p,
  .globalatypograpgy a,
  .globle_style1,
  .globle_style1 a,
  .globle_style1 p {
    font-size: 18px !important;
  }
  
  .globle_style1 #career-main,
  .globle_style1 .apply-job.bg-n-temp-career,
  .globle_style1 .career-pg-bannr {
    margin-bottom: 30px !important;
  }
  
  .global-typograpgy .get-intouch,
  .globle_style1 .get-intouch {
    margin: 30px 0 !important;
  }
  
  .global-typograpgy section,
  .globle_style1 section {
    padding: 30px 0 !important;
  }
  
  .gbl-faq h3 {
    font-size: 18px !important;
  }
  
  .global-typograpgy .title,
  .globle_style1 .title {
    font-size: 18px !important;
  }
  
  p.heading-tip {
    font-size: 18px !important;
  }
  
  .title-1 {
    font-size: 24px;
  }
  
  .available-jobs td {
    font-size: 16px;
  }
  
  .faq-njp-sec .btn-link h3 {
    font-size: 18px !important;
  }
  
  h3.h3-variant {
    font-size: 18px !important;
  }
}

@media (min-width: 1180px) and (max-width: 1180px) {
  .global-typograpgy h2,
  .globle_style1 h2 {
    font-size: 26px !important;
    margin-bottom: 30px;
  }
  
  .global-typograpgy h3,
  .globle_style1 h3 {
    font-size: 22px !important;
    margin-bottom: 20px;
  }
  
  .faq-njp-sec .btn-link h3 {
    font-size: 16px !important;
  }
  
  .global-typograpgy .title,
  .globle_style1 .title {
    font-size: 16px !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .global-typograpgy .title,
  .globle_style1 .title {
    font-size: 16px !important;
  }
  
  .global-typograpgy h1,
  .globle_style1 h1 {
    font-size: 32px !important;
    margin-bottom: 30px;
  }
  
  .global-typograpgy h2,
  .globle_style1 h2 {
    font-size: 26px !important;
    margin-bottom: 30px;
  }
  
  .global-typograpgy h3,
  .globle_style1 h3 {
    font-size: 22px !important;
    margin-bottom: 20px;
  }
  
  .global-typograpgy h4,
  .globle_style1 h4 {
    font-size: 16px !important;
    margin-bottom: 20px;
  }
  
  .apply-job.apply-jobform .form-section .form-control,
  .global-typograpgy p,
  .globalatypograpgy a,
  .globle_style1,
  .globle_style1 a,
  .globle_style1 p {
    font-size: 16px !important;
  }
  
  .faq-njp-sec .btn-link h3 {
    font-size: 16px !important;
  }
  
  .globle_style1 #career-main,
  .globle_style1 .apply-job.bg-n-temp-career,
  .globle_style1 .career-pg-bannr {
    margin-bottom: 15px !important;
  }
  
  .global-typograpgy .get-intouch,
  .globle_style1 .get-intouch {
    margin: 15px 0 !important;
  }
  
  .global-typograpgy section,
  .globle_style1 section {
    padding: 15px 0 !important;
  }
  
  .gbl-faq h3 {
    font-size: 16px !important;
  }
  
  p.heading-tip {
    font-size: 16px !important;
  }
  
  .bannr-txt-border-grey-contact p {
    font-size: 14px !important;
  }
  
  .title-1 {
    font-size: 22px;
  }
  
  .available-jobs td {
    font-size: 16px;
  }
  
  .global-typograpgy .title,
  .globle_style1 .title {
    font-size: 16px !important;
  }
}

@media (max-width: 767px) {
  h3.h3-variant {
    font-size: 16px !important;
  }
  
  .gbl-btn-prim {
    width: 115px !important;
  }
  
  .global-typograpgy h1,
  .globle_style1 h1 {
    font-size: 28px !important;
    margin-bottom: 20px;
    margin-bottom: 30px;
  }
  
  .global-typograpgy h2,
  .globle_style1 h2 {
    font-size: 24px !important;
    margin-bottom: 15px;
    margin-bottom: 30px;
  }
  
  .global-typograpgy h3,
  .globle_style1 h3 {
    font-size: 20px !important;
    margin-bottom: 15px;
    margin-bottom: 20px;
  }
  
  .global-typograpgy h4,
  .globle_style1 h4 {
    font-size: 16px !important;
    margin-bottom: 20px;
  }
  
  .global-typograpgy p,
  .globalatypograpgy a,
  .globle_style1,
  .globle_style1 p {
    font-size: 16px !important;
  }
  
  .globle_style1 #career-main,
  .globle_style1 .apply-job.bg-n-temp-career,
  .globle_style1 .career-pg-bannr {
    margin-bottom: 15px !important;
  }
  
  .global-typograpgy .get-intouch,
  .globle_style1 .get-intouch {
    margin: 15px 0 !important;
  }
  
  .global-typograpgy section,
  .globle_style1 section {
    padding: 15px 0 !important;
  }
  
  .gbl-faq h3 {
    font-size: 16px !important;
    margin-bottom: 0;
  }
  
  .global-typograpgy .title,
  .globle_style1 .title {
    font-size: 16px !important;
  }
  
  p.heading-tip {
    font-size: 16px !important;
  }
  
  .apply-job.apply-jobform .form-section .form-control,
  .global-typograpgy a,
  .global-typograpgy p,
  .globle_style1,
  .globle_style1 a,
  .globle_style1 p {
    font-size: 16px !important;
  }
  
  .title-1 {
    font-size: 20px;
  }
  
  .available-jobs td {
    font-size: 16px;
  }
  
  .global-typograpgy .title,
  .globle_style1 .title {
    font-size: 16px !important;
  }
}

.sub-sections h3 {
  color: #7646d7 !important;
}

a.contrast-link-color {
  color: #9b4fdb;
  text-decoration: underline;
}

a.contrast-link-color:hover {
  color: #7646d7;
}

.global-typograpgy section.top-space-none,
.globle_style1 section.top-space-none {
  padding-top: 0 !important;
}

.global-typograpgy section.bottom-space-none,
.globle_style1 section.bottom-space-none {
  padding-bottom: 0 !important;
}

@media (min-width: 1601px) {
  .global-typograpgy,
  .global-typograpgy section,
  .globle_style1,
  .globle_style1 section {
    max-width: 1920px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  
  .global-typograpgy section.container,
  .globle_style1 section.container {
    max-width: 1580px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}